@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.tab-content {
    position: relative;
    overflow: hidden;
  }
  .tab-content.is-animating {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    width: auto;
  }
  
  .content-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .content-pane.is-active {
    position: relative;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .content-pane.is-exiting {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .content-pane.is-animating {
    -webkit-transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
    transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    transition: opacity 400ms ease-out, transform 400ms ease-out, -webkit-transform 400ms ease-out;
  }

  .home-page {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .habit-page {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .settings-page{
    font-family: 'Montserrat', sans-serif;
  }
  
  .progress {
    background-color: #d8d8d8;
	  border-radius: 20px;
	  position: relative;
	  margin: 15px 0;
	  height: 17px;
	  width: 300px;
  }
  .progress-done, .progress-done2, .progress-done3, .progress-done4 {
    background: linear-gradient(to left, #F2709C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
  }

  img {
    justify-content: center;
    width:  100px;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
        box-shadow: 5px 5px 0 #FF6078;
}

.float-container {
    padding: 20px;
}

.float-child1 {
    width: 50%;
    float: left;
    padding: 15px;
}  
.float-child2 {
    width: 50%;
    float: left;
    padding: 15px;
}  